/* About.css */

  
.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .about-heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .about-content {
    margin-top: 20px;
  }
  
  .section {
    margin-bottom: 40px;
  }
  
  h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  p {
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  ul {
    margin-left: 20px;
    margin-bottom: 10px;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  .techniques {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .technique {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .technique h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .technique p {
    margin: 0;
  }
  
  /* FAQ.css */
  .faq-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f8f8f8;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .faq-item {
    margin-bottom: 40px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .question {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
  }
  
  .answer {
    line-height: 1.5;
    margin-bottom: 10px;
    color: #777;
  }
  
  .faq-item:nth-child(even) {
    background-color: #f3f3f3;
  }
  
  .faq-item:nth-child(odd) {
    background-color: #ffffff;
  }
  
  .faq-item:nth-child(even) .question {
    color: #555;
  }
  
  .faq-item:nth-child(odd) .question {
    color: #555;
  }
  
  .faq-item:nth-child(even) .answer {
    color: #777;
  }
  
  .faq-item:nth-child(odd) .answer {
    color: #777;
  }
  
  .faq-item:hover {
    background-color: #f5f5f5;
    transition: background-color 0.3s ease-in-out;
  }
  