/* App.css */

.home-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #f4f0f0;
    
  }
  
  h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 30px;
    margin-bottom: 30px;
    /* color:rgb(243, 244, 241); */
    font-weight: bold;
  }
  
  .get-started-btn {
    padding: 10px 20px;
    background-color: #63d471;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .get-started-btn:hover {
    background-color: #50b860;
  }
  
  .features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 40px;
    /* display: flex;
    justify-content: center;
    margin-top: 40px; */
  }
  
  .feature-item {
    width: 300px;
    padding: 20px;
    margin: 0 10px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    
}
.feature-item:hover {
    transform: translateY(-5px);
}

.feature-item h3 {
      color:rgb(55, 36, 22);
    font-size: 35px;
    margin-bottom: 10px;
  }
  
  .feature-item p {
    font-size: 16px;
  }

  .feature-item {
    text-decoration: none;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 18;
    }
  }
  
  .animate-fade-in {
    animation: fade-in 1s ease-in-out;
  }

  
/* Media Queries */

@media (max-width: 768px) {
  h1 {
    font-size: 32px;
  }

  p {
    font-size: 16px;
  }

  .get-started-btn {
    font-size: 16px;
  }

  .feature-item {
    width: 100%;
    max-width: 400px;
  }
}
  